* text=auto

*.js text
*.md text
*.yml text
*.txt text
*.sh text
## *.bat text eol=crlf
*.bat -text

*.png binary

.gitattributes export-ignore
*.yml export-ignore
/wikipiki export-ignore
/.github export-ignore
